/*************/
/* CSS RESET */
/*************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Space Grotesk", "sans-serif";
    line-height: 1;
    font-weight: 400;
    color: #555;
}

strong {
    font-weight: 500;
}

/********************************************************/

/********/
/* MAIN */
/********/

.main {
    padding: 1.6rem;
    background-color: #f1f4f8;
    /* height: 100vh; */
    display: flex;
}

/********************************************************/

/***********/
/* NAV BAR */
/***********/
.navbar {
    background-color: white;
    border-radius: 24px;
    width: 22.9rem;
    height: 95.5vh;
    padding: 3.4rem 2rem;
    text-align: center;
    /* margin-right: 1.6rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.logo {
    margin-bottom: 5rem;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    padding: 1.2rem 1.6rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    background-color: rgba(102, 95, 239, 0.2);
    border-style: solid;
    border-radius: 16px;
    border-color: #793ef5;
    color: #793ef5;
}

.nav-link p {
    color: #1e1e1e;
    font-size: 1.6rem;
}

.navbar-footer {
    padding: 1.2rem 1.6rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar-footer p {
    color: #1e1e1e;
    font-size: 1.6rem;
}

/********************************************************/

/**********************/
/* INTERNSHIP SECTION */
/**********************/

.intenship-section {
    width: 100%;
    margin: 5rem 5rem 0 29.5rem;
    position: relative;
}

/* INTERNSHIP HEADER */

.internship-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;
}

.internship-header h1 {
    color: #1e1e1e;
    font-size: 3.2rem;
}

/* INTERNSHIP GRAPH SECTION */

.internship-graph-section {
    background-color: white;
    border-radius: 16px;
    padding: 1.6rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 2.4rem;
}

.internship-insights {
    background-color: #f6f5f9;
    border-radius: 16px;
    padding: 1.6rem;
    width: 28rem;
    height: 23.8rem;
}

.internship-insights h2 {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.internship-insights p {
    color: #1e1e1e;
    font-size: 1.4rem;
    letter-spacing: 0.3px;
    line-height: 2rem;
    padding-right: 1.9rem;
}

.internship-graph {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.selection-bar {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 16px;
    padding: 0.8rem;
}

.time-selection {
    display: flex;
    gap: 1.2rem;
}

.full-graph-container {
    height: 100%;
    position: relative;
}

.full-graph {
    /* background-color: red; */
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.full-graph-element {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.full-graph-element h3 {
    font-size: 2.1rem;
    font-weight: 500;
    color: #5c5c5c;
    margin-bottom: 0.2rem;
}

.full-graph-element p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #5c5c5c;
    margin-bottom: 0.4rem;
}

.third-element {
    background-color: #dfdfdf;
    border-radius: 8px;
}

.graph1 {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -65%);
}

.graph2 {
    width: 14.553rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -70%);
}

.div-bar-list {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-bottom: 2.4rem;
}

.div-bar-item {
    width: 2px;
    height: 100%;
    background-color: #efefef;
}

.div-bar-item:nth-child(2),
.div-bar-item:nth-child(3) {
    width: 0;
}

/* INTERNSHIP STATISTIC SECTION */

.internship-statistic-section {
    border-radius: 16px;
    display: grid;
    grid-template-columns: 38.5fr 20fr 16fr 25fr 14fr;
    background-color: #fff;
    overflow: hidden;
}

/* table header */
.title {
    padding: 1.6rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #2f3031;
    background-color: #f6f5f9;
    display: flex;
    justify-content: space-between;
}

.title img {
    cursor: pointer;
}

/* table first column */
.internship-title-content {
    padding: 1.6rem 17.4rem 1.6rem 1.6rem;
    align-self: center;
}

.internship-title-content h3 {
    color: #2f3031;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.internship-title-content p {
    color: #2f3031;
    font-size: 1.2rem;
}

/* table second column */
.completion-period-content {
    padding: 2.8rem 4.8rem 2.8rem 1.6rem;
    align-self: center;
}

.completion-period-content h3 {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.completion-period-content p {
    color: #828282;
    font-size: 1.2rem;
    font-weight: 500;
}

/* table third column */
.total-enrolled-content {
    /* padding: 2.8rem 3.3rem; */
    align-self: center;
    justify-self: center;
}

.total-enrolled-content h3 {
    background-color: #f0effd;
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #793ef5;
    text-align: center;
}

/* table fourth column */
.qualified-candidates-content {
    padding: 1.8rem 3rem;
}

.qualified-candidates-content img {
    width: 19rem;
    height: 6rem;
}

/* table fifth column */
.button-selection-content {
    padding: 3.4rem 1.6rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

.button-selection-content img {
    cursor: pointer;
}

/********************************************************/

/*************/
/* UTILITIES */
/*************/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border-style: none;
    padding: 1.2rem 1.6rem;
    background-color: #793ef5;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn-small {
    font-size: 1.4rem;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
}

.btn-white {
    background-color: white;
    color: #1e1e1e;
}
